.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: oklch(27.8% 0.033 256.848);
  color: white;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  align-self: center;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.login-btn {
  background: #555;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  background: oklch(67.7% 0.152 181.912);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
}

@media (max-width: 760px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background: oklch(27.8% 0.033 256.848);
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
